@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

        body {
            font-family: 'Noto Sans KR', sans-serif;
            margin-bottom: 100px;
        }

        #main_div {
            width: 1200px;
            height: 600px;
            display: flex;
            margin-left: 100px;
            margin-top: 100px;
            border: 1px solid grey;
            border-radius: 20px;
        }

        #box1 {
            flex: 1;
            display: flex;
            margin: 20px;
            padding: 20px;
            border-right: 1px solid grey;
        }

        #info span {
            color: navy;
            margin-right: 10px;
        }

        #git {
            color: navy;
            text-align: center;
        }

        #know {
            margin-top: 150px;
            margin-left: 40px;
        }

        #know span {
            background-color: grey;
            color: #fff;
            border-radius: 5px;
            margin: 5px;
            padding: 2px;
        }

        #box2 {
            flex: 1;
            margin: 20px 15px;
            padding: 50px 10px 20px 15px;
        }

        #btn1, #btn2, #btn3 {
            float: left;
            width: 150px;
            margin: 10px;
        }

        #btn1 img, #btn2 img, #btn3 img {
            width: 150px;
        } 

        #btn1:hover img, #btn2:hover img, #btn3:hover img  {
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }

        #prj_1, #prj_2, #prj_3 {
            display: none;
            margin-left: 250px;
        }

        object {
            border: 3px solid black;
        }
        